# Specify additional index URL for PyTorch
--index-url https://download.pytorch.org/whl/nightly/cu124

packaging
ninja
torch
nvidia_cudnn_frontend
torchao
protobuf
sentencepiece
llnl-hatchet

# Git-based package: not working
# git+https://github.com/NVIDIA/TransformerEngine.git@stable